#home-main {
    display: flex;
    flex-direction: column;

}

#heroes {
    display: flex;
    flex-direction: row;

}


#heroes p>a>img,
#heroes p>img {
    height: 250px;
    width: 33vw;
    object-fit: contain;
    /* margin: 0; */
}

#blocks {
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 44vw;
    overflow-y: scroll;
    overflow-x: hidden;

}

#blocks p {
    /* width: 100vw;
    height: 44vw; */
}

#blocks p>img {
    /* width: 40%;
    max-width: min-content; */
    width: 100vw;
    height: 44vw;
    padding-top: 20px;
}
