.product-outer {
    display: flex;
    flex-direction: row;
    border: 1px solid red;
    align-items: center;
}

/* .product-outer img {
    height: 200px;
} */

#image-block {
    width: 55%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#image-main {
    width: 50vw;
    height: 30rem;

    object-fit: contain;
}

#image-options {
    display: flex;
    flex-direction: row;
    /* width: 40%; */
}

#image-options img {
    width: 11vw;
    height: 11vw;
    object-fit: contain;
}

#image-options img:hover {
    border: 1px solid black;

}


.product-info {
    display: flex;
    flex-direction: column;
    width: 42%;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

#description b,
#description span {
    width: fit-content;
    font-size: 16px;
    line-height: 125%;
}

#description b {
    font-weight: bold;
}
